#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover,
.contact_button:focus {
    color: #000000;
    background-color: #DB8876;
    font-weight: 700;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: fixed;
    top: 5%;
    left: 30%;
    z-index: 5;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

form textarea {
    width: 100%;
    height: 200px;
    border: none;
    border-radius: 5px;
}

/* error */
.error {
    display: block;
    color: red;
}

.success {
    display: none;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.photograph-header h1 {
    color: #d3573c;
    font-size: 64px;
    line-height: 83px;
    margin: 10px;
}

.localisation {
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
    margin: 0 10px;
    line-height: 2;
}

.photograph-header .tagline {
    margin: 0 10px;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    line-height: 2;
}

/* Filter */
.filter,
.filter::after,
.filter::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.filter {
    display: flex;
    align-items: center;
    height: 50px;
    gap: 10px;
    font-size: clamp(1.4rem, 3vw, 1.6rem);
    width: 95%;
    max-width: 1400px;
    margin-top: 20px;
}

.filter h2 {
    font-weight: 100;
    font-size: clamp(1.6rem, 3vw, 1.8rem);
}

.filter_menu {
    position: relative;
    height: 100%;
}

.dropdown {
    z-index: 100;
    position: absolute;
    border-radius: 5px;
    overflow: hidden;
    width: 200px;
}

.btn__drop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #911C1C;
    gap: 10px;
}

.drop__options {
    padding: 0;
    margin: 0;
    max-height: 0;
    background-color: #911C1C;
    transition: max-height .2 ease-in-out;
}

.drop__options li {
    list-style-type: none;
    width: 100%;
    position: relative;
}

.drop__options li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 1px;
    background-color: #fff;
}

.drop__options li:hover,
.btn__drop:hover {
    background-color: #DB8876;
    color: #000;
}

.btn__drop,
.drop__options li button {
    width: 100%;
    height: 50px;
    padding: 15px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: clamp(1rem, 3vw, 1.2rem);
}

.drop__options li button {
    text-align: left;
    background-color: transparent;
}

.dropdown-active {
    max-height: 200px;
}

.rotate {
    transform: rotate(180deg);
}

.arrow {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    /* content: "\f104"; */
    /* position: absolute; */
    /* top: 50%; */
    /* right: 18px; */
    /* transform: translate(-50%, -50%) rotate(90deg); */
    color: #fff;
    font-size: 20px;
    pointer-events: none;
    z-index: 26;
    color: #fff;
    transition: all 250ms ease-in-out;
}


/* .filter_menu {
    display: flex;
    align-items: center;
    margin: 0 100px;
}

.filter_box {
    font-weight: 700;
    font-size: 18px;
    left: 100px;
} */

/* .filter_select {
    position: relative;
    margin: 50px;
}

.filter_select li {
    list-style-type: none;
} */

/* .select {
    width: 170px;
    height: 73px;
    cursor: pointer;
    background-color: #911C1C;
    border-radius: 5px;
    position: relative;
}

.select_expand {
    width: 0;
    height: 69px;
    position: absolute;
    top: 0;
    right: 0;
} */

/* .select_expand::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f104";
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translate(-50%, -50%) rotate(90deg);
    color: #fff;
    font-size: 20px;
    pointer-events: none;
    z-index: 2;
    color: #fff;
    transition: all 250ms ease-in-out;
}

.select_expand:checked::after {
    transform: translate(-50%, -50%) rotate(90deg) scaleX(-1);
} */

/* .select_expand-label {
    display: block;
    width: 100%;
    height: 69px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
} */

/* .select_close {
    display: none;
}

.select_close_label {
    width: 170px;
    height: 69px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
} */

/* .select_items {
    width: 170px;
    height: 69px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    padding-top: 69px;
}

.select_input {
    display: none;
} */

/* .select_label {
    display: block;
    height: 0;
    font-size: 1.2rem;
    line-height: 69px;
    overflow: hidden;
    color: #fff;
    background-color: #fff;
    cursor: pointer;
    padding-left: 20px;
} */

/* .select_label-placeholder {
    height: 69px;
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
} */

/* .select_expand:checked+.select_close_label {
    display: block;
}

.select_expand:checked+.select_close_label+.select_options {
    background: #911C1C;
    border-radius: 0 0 5px 5px;
}

.select_options .select_label {
    height: 69px;
    background: transparent;
} */

/* .select_options .select_label:hover {
    background-color: #DB8876;
    color: #000;
}

.select_options+.select_expand-label {
    display: none;
} */

/* .select_options+.select_option {
    border-radius: 5px;
}

.select_options .select_option:nth-child(2) .select_label:hover {
    border-radius: 0 0 5px 5px;
} */

/* .select_input:checked+.select_label {
    height: 69px;
    margin-top: -69px;
    background-color: #911C1C;
    border-radius: 5px;
} */

/* .border_top {
    display: block;
    height: 100%;
    width: 85%;
    border-top: 1px solid #fff;
}

.select_input:checked+.select_label .border_top {
    border-top: none;
} */

/* .filter_menu {
    display: flex;
}

.filter_select {
    position: relative;
    margin: 50px;
}

.filter_select li {
    list-style-type: none;
}

.select {
    width: 170px;
    height: 73px;
    cursor: pointer;
    background-color: #911C1C;
    border-radius: 5px;
    position: relative;
}

.select_expand {
    width: 0;
    height: 69px;
    position: absolute;
    top: 0;
    right: 0;
}

.select_expand :after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f104";
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translate(-50%, -50%) rotate(90deg);
    color: #fff;
    font-size: 20px;
    pointer-events: none;
    z-index: 2;
    color: #fff;
    transition: all 250ms ease-in-out;
}

.select_expand :checked:after {
    transform: translate(-50%, -50%) rotate(90deg) scaleX(-1);
} */

/* Gallery img */
.gallery_card_section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    grid-auto-rows: minmax(350px, auto);
    padding: 25px 0;
    /* justify-content: space-between; */
    /* margin: 0 100px;
    width: 90%; */
    /* gap: 210px; */
}

.mediaCard {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    justify-content: center;
    cursor: pointer;
}

.mediaCard__img img {
    object-fit: cover;
    object-position: center;
    width: 350px;
    height: 300px;
    border-radius: 5px;
    max-width: 100%;
}

.mediaCard__img video {
    object-fit: cover;
    max-width: 100%;
    width: 350px;
    height: 300px;
    border-radius: 5px;
}

.mediaCard__info {
    display: flex;
    width: 100%;
}

.mediaCard__info__title {
    color: #901C1C;
    /* font-weight: bold; */
    width: 80%;
    margin: auto;
    font-size: 24px;
    font-weight: 400;
    line-height: 31.25px;
}

.mediaCard__info__like {
    color: #901c1c;
    font-weight: bold;
    width: 20%;
    margin: auto;
    text-align: right;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
}

/* Toal Likes */
.counter__likes {
    width: 250px;
    height: 60px;
    background-color: #DB8876;
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    font-size: 24px;
    right: 60px;
    bottom: 0;
    color: black;
    z-index: 3;
}

#totalLike {
    display: flex;
    align-items: center;
    gap: 5px;
}

.total_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

/* Lightbox */
#modal_lightbox {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    overflow: auto;
    align-items: center;
}

.lightbox {
    position: relative;
    max-width: 1200px;
    width: 90%;
    max-height: 720px;
    height: 90%;
}

.btn__lightbox__next,
.btn__lightbox__prev,
.btn__lightbox__close {
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    border: none;
    background-color: transparent;
    z-index: 15;
    /* -webkit-text-stroke: 1px #000; */
    /* width: 25px;
        height: 50px; */
    /* border: none;
    color: #901C1C;
    font-size: 25px;
    font-weight: 700;
    position: fixed;
    top: 50%;
    right: 0;
    margin-top: -14px;
    z-index: 11;
    text-indent: -3000px; */

}

.btn__lightbox__next,
.btn__lightbox__prev {
    top: 50%;
    transform: translateY(-50%);
}

.btn__lightbox__next {
    right: 10px;
}

.btn__lightbox__prev {
    left: 10px;
}

.btn__lightbox__close {
    top: 10px;
    right: 10px;
}

.btn__lightbox__next::before,
.btn__lightbox__prev::before,
.btn__lightbox__close::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: clamp(2rem, 2vw, 3rem);
    color: #fff;
}

.btn__lightbox__close::before {
    content: '\f00d';
}

.btn__lightbox__next::before {
    content: '\f054';
}

.btn__lightbox__prev::before {
    content: '\f053';
}

.btn__lightbox__prev.show {
    display: flex;
}

/* .btn__lightbox__close {
    position: fixed;
    top: 20px;
    right: 10px;
    background-color: #901C1C;
    border: none;
    background: transparent;
    color: #901C1C;
    z-index: 12;
} */

/* .lightbox button {
    cursor: pointer;
    opacity: .5;
    transition: opacity .3s;
} */

/* .lightbox button:hover {
    opacity: 1;
} */

.lightbox__container img {
    width: 125vh;
    height: 80vh;
    object-fit: cover;
    object-position: center;
    border: 2px solid #a81c1c;
    max-width: 100%;
    /* max-width: 100%;
    height: auto;
    width: 1050px;
    height: 900px; */
}

.lightbox__container {
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    /* display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    margin-left: 50px;
    min-height: 100vh; */
}

/* test */
/* .active {
    display: flex;
}

.hidden {
    display: none;
} */