#contact_modal {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.8);
    z-index: 125;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    padding: 0 50px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover,
.contact_button:focus {
    color: #000000;
    background-color: #DB8876;
    font-weight: 700;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: fixed;
    top: 3%;
    left: 30%;
    z-index: 500;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 56px;
    font-weight: normal;
    text-align: center;
}

#closeModalBtn {
    background-color: #DB8876;
    border: none;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

form textarea {
    width: 100%;
    height: 200px;
    border: none;
    border-radius: 5px;
}

/* error */
.error {
    display: block;
    color: red;
}

.error.errorMessage {
    margin-bottom: -50px;
}

.success {
    display: none;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.photograph-header h1 {
    color: #d3573c;
    font-size: 64px;
    line-height: 83px;
    margin: 10px;
}

.localisation {
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
    margin: 0 10px;
    line-height: 2;
}

.photograph-header .tagline {
    margin: 0 10px;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    line-height: 2;
}

/* Filter */
.filter,
.filter::after,
.filter::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.filter {
    display: flex;
    align-items: center;
    height: 50px;
    gap: 10px;
    font-size: clamp(1.4rem, 3vw, 1.6rem);
    width: 95%;
    max-width: 1400px;
    margin-top: 20px;
    margin-left: 100px;
}

.filter h2 {
    font-weight: 100;
    font-size: clamp(1.6rem, 3vw, 1.8rem);
}

.filter_menu {
    position: relative;
    height: 100%;
}

.dropdown {
    z-index: 100;
    position: absolute;
    border-radius: 5px;
    overflow: hidden;
    width: 200px;
}

.btn__drop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #911C1C;
    gap: 10px;
}

.drop__options {
    padding: 0;
    margin: 0;
    max-height: 0;
    background-color: #911C1C;
    transition: max-height .2 ease-in-out;
}

.drop__options li {
    list-style-type: none;
    width: 100%;
    position: relative;
}

.drop__options li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 1px;
    background-color: #fff;
}

/* A verifier */
.drop__options li:hover,
.drop__options li button:focus-visible,
.btn__drop button:focus-visible,
.btn__drop:hover {
    background-color: #DB8876;
    color: #000;
}

.btn__drop,
.drop__options li button {
    width: 100%;
    height: 50px;
    padding: 15px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: clamp(1rem, 3vw, 1.2rem);
}

.drop__options li button {
    text-align: left;
    background-color: transparent;
}

.dropdown-active {
    max-height: 200px;
}

.rotate {
    transform: rotate(180deg);
}

.arrow {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    /* content: "\f104"; */
    /* position: absolute; */
    /* top: 50%; */
    /* right: 18px; */
    /* transform: translate(-50%, -50%) rotate(90deg); */
    color: #fff;
    font-size: 20px;
    pointer-events: none;
    z-index: 26;
    color: #fff;
    transition: all 250ms ease-in-out;
}

/* Gallery img */
.gallery_card_section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    grid-auto-rows: minmax(350px, auto);
    padding: 25px 0;
    margin: 0 30px;
    /* justify-content: space-between; */
    /* margin: 0 100px;
    width: 90%; */
    /* gap: 210px; */
}

.mediaCard {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    justify-content: center;
    cursor: pointer;
}

.mediaCard__img img {
    object-fit: cover;
    object-position: center;
    /* width: 350px; */
    width: 450px;
    height: 350px;
    border-radius: 5px;
    max-width: 100%;
}

.mediaCard__img video {
    object-fit: cover;
    max-width: 100%;
    width: 450px;
    /* height: 400px; */
    height: 350px;
    border-radius: 5px;
}

.mediaCard__info {
    display: flex;
    width: 100%;
}

.mediaCard__info__title {
    color: #901C1C;
    /* font-weight: bold; */
    width: 80%;
    margin: auto;
    font-size: 24px;
    font-weight: 400;
    line-height: 31.25px;
}

.mediaCard__info__like {
    color: #901c1c;
    font-weight: bold;
    width: 20%;
    margin: auto;
    text-align: right;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
}

/* Toal Likes */
.counter__likes {
    width: 250px;
    height: 60px;
    background-color: #DB8876;
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    font-size: 24px;
    right: 60px;
    bottom: 0;
    color: black;
    z-index: 3;
}

#totalLike {
    display: flex;
    align-items: center;
    gap: 5px;
}

.total_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

/* Lightbox */
#modal_lightbox {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    overflow: auto;
    align-items: center;
}

.lightbox {
    /* position: relative;
    max-width: 1200px;
    width: 100%;
    max-height: 720px;
    height: 100%;
    overflow: hidden; */
    /* position: relative;
    max-height: 720px;
    overflow: hidden;
    width: 1253px;
    height: 984px;
    top: 40px; */
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    width: 1253px;
    top: 62px;
}

.btn__lightbox__next,
.btn__lightbox__prev,
.btn__lightbox__close {
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    border: none;
    background-color: transparent;
    z-index: 15;
    color: #901C1C;
    /* top: 50%; */
    /* -webkit-text-stroke: 1px #000; */
    /* width: 25px;
        height: 50px; */
    /* border: none;
    color: #901C1C;
    font-size: 25px;
    font-weight: 700;
    position: fixed;
    top: 50%;
    right: 0;
    margin-top: -14px;
    z-index: 11;
    text-indent: -3000px; */

}

.btn__lightbox__next,
.btn__lightbox__prev {
    top: 40%;
    transform: translateY(-50%);

}

.btn__lightbox__next {
    right: 10px;
    /* width: 50px;
    height: 500px; */
    background: url('../assets/icons/chevron-right.svg');
    background-repeat: no-repeat;
}

.btn__lightbox__prev {
    left: 10px;
    background: url('../assets/icons/chevron-left.svg');
    background-repeat: no-repeat;
}

.btn__lightbox__close {
    top: 10px;
    width: 60px;
    height: 60px;
    right: 15px;
    background: url('../assets/icons/cross.svg');
    background-repeat: no-repeat;
}

.btn__lightbox__next::before,
.btn__lightbox__prev::before,
.btn__lightbox__close::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: clamp(3.5rem, 2vw, 3rem);
    color: #901C1C;
}

.btn__lightbox__prev.show {
    display: flex;
}

.lightbox__container {
    width: 100%;
    min-height: 100%;
    /* top: 62px; */
    /* border: 2px solid #fff; */
    /* border-radius: 5%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* margin-right: 50px; */
    /* margin-left: 50px; */
    /* min-height: 100vh; */
}

.lightbox__container img {
    /* width: 1050px;
    height: 900px; */
    width: 80vh;
    height: 80vh;
    object-fit: cover;
    object-position: center;
    /* border: 2px solid #a81c1c; */
    max-width: 100%;
    color: #C4C4C4;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    /* border-radius: 5px; */
    /* max-width: 100%;
    height: auto;
    width: 1050px;
    height: 900px; */
}

.lightbox__container video {
    width: 80vh;
    height: 80vh;
    object-fit: cover;
    /* width: 70vh;
    height: 65vh; */
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.lightbox__info__title {
    color: #901C1C;
    /* font-weight: bold; */
    width: 61%;
    margin: auto;
    font-size: 24px;
    font-weight: 400;
    line-height: 41.25px;
}


/* test */
/* .active {
    display: flex;
}

.hidden {
    display: none;
} */

.erreur {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.form-control {
    margin-bottom: 5px;
    padding-bottom: 50px;
    position: relative;
    height: 85px;
	/* margin-bottom: 10px;
	padding-bottom: 55px;
	position: relative;
    height: 100px; */
}

.form-control label {
    font-size: 24px;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 97%;
    height: 40px;
}

textarea {
    min-height: 125px;
    width: 100%;
    font-family: inherit;
	font-size: 14px;
}

.modal-btn {
    margin-top: 55px;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control p {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: visible;
    margin-bottom: 25px;
}

.form-control.error p {
	visibility: visible;
}

/* test */
/* .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333333;
} */